ol li .impar {
  text-transform: lowercase;
}

ol li .par {
  background-color: green;
}

li #em {
  font-size: 20px; 
  font-weight: 700;
}

h1, h2, h3 {
  color: red;
}

h1 {
  font-size: 40px;
  border: 1px solid black;
}